// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-root.page-index
  header
    text-align: center
    background: image_url("background/halftone.png") #35aa3a

    .yukino-icon
      width: 130px
      border: 6px solid yellow
      border-radius: 130px
